.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.App-title {
  font-size: 50px;
}


.clock-days, .clock-hours. .clock-minutes, .clock-second {
  display: inline;
  margin: 10px;
}

.Deadline-input{
  font-size: 25px;
  margin: 5px;
}
